<footer class="footer">

    <div id="vincolor"></div>
    <div class="footer-copyright text-center py-3" style="padding-top:30px; background-color:#00e89d">
        Copyright&copy;
    </div>

</footer>