<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/style.css">
    <title>VinVin</title>

</head>

<body>
    <div class="container">
        <% include ./partials/header %>
        <div class="jumbotron">
            <div>
                <h2>VIN Decoder</h2>
                <form id="obd" action="/vindecoder" method="POST">

                    VIN:<br>

                    <!-- <input type="text" type="hidden" id="car_vin"> -->
                    <% if (res.locals.email){ %>
                        i am logged in
                        <input type="text" name="vinNum" value="<%= car_vin %>">
                    <% }else{ %>
                        NO buneo
                        <input type="text" name="vinNum" value="" placeholder="please enter vin">

                    <% } %>
                    <input type="hidden" id="email" value="<%= res.locals.email %>">

                    <button class="btn btn-primary" type="submit">Submit</button>

                </form>
                <div class="vinRes">
                    
                </div> 
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        $("button").on("click", function () {
            event.preventDefault();
            var vinNum = $("#vinNum").val();
            $.ajax({
                url: "http://api.carmd.com/v3.0/decode?vin=" + vinNum,
                method: "GET",
                headers: {
                    'authorization': 'Basic MDYxODMxNGEtMzg1Yi00MjdlLTk5ZjEtMmNmZDg5NWIxNDJk',
                    'partner-token': 'd8c2853c7dd34ae6a4b428732e13f419'
                }, 
                vinNum: vinNum
            }).then(function (results) {
                $("#obd").empty();
                $(".vinRes").append("<ul>");
                $("ul").append("<li>");
                $("li:last-child").text("Engine type: " + results.data.engine);
                $("ul").append("<li>");
                $("li:last-child").text("Car make: " + results.data.make);
                $("ul").append("<li>");
                $("li:last-child").text("Car manufacturer: " + results.data.manufacturer);
                $("ul").append("<li>");
                $("li:last-child").text("Car Model: " + results.data.model);
                $("ul").append("<li>");
                $("li:last-child").text("Transmission Type: " + results.data.transmission);
                $("ul").append("<li>");
                $("li:last-child").text("Trim Type: " + results.data.trim);
                $("ul").append("<li>");
                $("li:last-child").text("Car Model Year: " + results.data.year);
            });
        });

    </script>

</body>

</html>
