/* body{
    background-image: url("car1.jpg")
} */

nav {
    position: sticky;
    text-align: end;
    font-size: larger;
    margin-top: 30px;
}

.home {
    background-image: url("images/car2.jpg");
    background-size: contain;
}

#obdimg {
    margin-left: 200px;
    vertical-align: middle;
    border-style: none;
    width: 600px;
}

header {
    background-color: white;
    border-bottom: 2px solid #00e89d;
}

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-top: 150%;
}